aiofiles==24.1.0
beautifulsoup4==4.12.3
chromedriver-autoinstaller==0.6.4
email-validator==2.2.0
fastapi==0.114.2
opencv-python==4.10.0.84
Pillow==10.4.0
pymilvus==2.4.6
pymongo==4.8.0
pypdf==4.3.1
python-multipart==0.0.9
redis==5.0.8
requests==2.32.3
selenium==4.24.0
uvicorn==0.30.6
youtube-transcript-api==0.6.2
